extends ./layout.jade

block content
	.row
		ul.thumbnails.posts.list-unstyled
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px
			li.image.col-md-sm-4.col-md-3.col-lg-2
				a.thumbnail(href='#')
					img(src='/assets/images/logo2.png', alt='', title='Blah blah blah blah blah')
				.meta
					.pull-left rating:
						span.rating.rating-u= '?'
					.pull-right
						span.width= '200'
							span.small px
						span.div!= ' &times; '
						span.height= '200'
							span.small px